.rate-movie-box{ position:relative; margin: 20px 10px; text-align: center;}
.review-img{ position:absolute; left: 20px; top: 10px;}
.review-img i{ color: #333; font-size: 18px;}
.sending-rating{ font-style:italic}
.rating-title{ color:#003366; font-size:12px; margin-bottom:10px;}
.rating-img{ margin: 8px 0px 0px 0px; height:20px;}
.share-rat-container{ display: none;}
.share-rat-container{ position:absolute; left: 15px; top: 5px; margin: 0px 0px 0px 2px; }
.share-rat-container a{ text-decoration: none;}
.share-rat-container a:link, .share-rat-container a:hover, .share-rat-container a:visited{ text-decoration: none;}

.rate-wrapper .dropdown-toggle{ padding: 5px; width: 90%;}
.tour .rate-wrapper .dropdown-toggle{ width: 100%;}

.rate-wrapper .dropdown-toggle:hover{ color: #333;}

.rate-movie-box .rate-wrapper .bootstrap-select .dropdown-menu .text div{ display: flex; align-items: baseline; font-size: 14px;}
.rate-movie-box .rate-wrapper .bootstrap-select .dropdown-menu{ padding: 0px; margin: 0px;}
.rate-movie-box .rate-wrapper .bootstrap-select .dropdown-menu .text div .avg-rat-wrapper { margin-right: 0.625rem;}
.rate-movie-box .rate-wrapper .bootstrap-select .dropdown-menu .dropdown-item{ width: auto; padding: 4px 3px}
.rate-movie-box .rate-wrapper .bootstrap-select .dropdown-menu .dropdown-item.active, .rate-movie-box .rate-wrapper .bootstrap-select .dropdown-menu .dropdown-item:active{background: #447cad;}
.rate-movie-box .rate-wrapper .bootstrap-select .dropdown-menu .dropdown-item:hover, .rate-movie-box .rate-wrapper .bootstrap-select .dropdown-menu .dropdown-item:focus{ background: #447cad; color: #FFF;}
.rate-movie-box .rate-wrapper .bootstrap-select .dropdown-toggle .filter-option .filter-option-inner .filter-option-inner-inner div{ display: flex;}

/* film */
.z-movie .rate-movie-box{padding: 10px;}
.z-movie #right-column .rate-movie-box .rate-wrapper .sh-rat-wrapper{ top: 20px;}

/* myvotes - userrating */

.user-ratings-list .rate-movie-box .dropdown.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width: 180px;}

/*  usercatratings */
.user-cat-ratings .rate-movie-box .dropdown.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width: 180px;}

/* userrec */
.user-rec-rate-box .rate-movie-box .dropdown.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width: 180px;}